<nav class="sidebar">
  <h1>Resource Hive</h1>
  <ul>
    <li>
      <a href="{% url 'user_dashboard' %}">
        <i class="fas fa-home"></i> Dashboard
      </a>
    </li>
    <li>
      <a href="{% url 'user_request' %}">
        <i class="fas fa-tasks"></i> Make a request
      </a>
    </li>
    <li>
      <a href="{% url 'user_borrow' %}">
        <i class="fas fa-handshake"></i> Borrow
      </a>
    </li>
    <li>
      <a href="{% url 'user_reserve' %}">
        <i class="fas fa-calendar-alt"></i> Reserve
      </a>
    </li>
    <li>
      <a href="{% url 'user_all_requests' %}">
        <i class="fas fa-history"></i> All My Requests
      </a>
    </li>
    <li>
      <a href="{% url 'user_report' %}">
        <i class="fas fa-exclamation-triangle"></i> Report
      </a>
    </li>
    <li>
      <a href="{% url 'user_profile' %}">
        <i class="fas fa-user"></i> Profile
      </a>
    </li>
  </ul>
</nav>