{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/userStyle.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
  </head>
  <body>
    {% block content %} {% include 'userpanel/user_navbar.html' %}
    <div class="parent">
      <div class="div1">
        <h2 >Hello, <span>{{ request.user.username }}</span></h2>
      </div>
    {% endblock content %}
</body>
</html>
