{% extends 'userpanel/user_base.html' %}

{% block title %}Damage Report{% endblock %}

{% block content %}
<main class="request-form-container">
    <h1>Damage Report</h1>
    {% if form.errors %}
    <ul class="errorlist form-top-errors">
        {% for field in form %}
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}
    <form method="post" action="{% url 'user_report' %}">
        {% csrf_token %}

        {{ form.as_p }}
        <button type="submit" class="btn-submit">Submit Report</button>
    </form>
</main>
{% endblock %}
