<nav class="sidebar">
  <h1>Resource Hive</h1>
  <ul>
    <li>
      <a href="{% url 'user_dashboard' %}">
        <i class="fas fa-home"></i> Dashboard
      </a>
    </li>
    <li>
      <a href="{% url 'user_request' %}">
        <i class="fas fa-tasks"></i> Make a request
      </a>
    </li>
    <li>
      <a href="{% url 'user_borrow' %}">
        <i class="fas fa-handshake"></i> Borrow
      </a>
    </li>
    <li>
      <a href="{% url 'user_reserve' %}">
        <i class="fas fa-calendar-alt"></i> Reserve
      </a>
    </li>
    <li>
      <a href="{% url 'user_report' %}">
        <i class="fas fa-exclamation-triangle"></i> Report
      </a>
    </li>
    <li>
      <a href="{% url 'user_password_change' %}">
        <i class="fas fa-key"></i> Change Password
      </a>
    </li>
    <li>
      <form
        id="logout-form"
        action="{% url 'logout' %}"
        method="post"
        style="display: none"
      >
        {% csrf_token %}
      </form>
      <a
        href="#"
        onclick="event.preventDefault(); if (confirm('Are you sure you want to log out?')) { document.getElementById('logout-form').submit(); }"
      >
        <i class="fas fa-sign-out-alt"></i> Logout
      </a>
    </li>
  </ul>
</nav>
