body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
h1 {
    text-align: center;
    margin-top: 20px;
    color: #fbff00;
}
.sidebar {
    width: 250px;
    height: 100%;
    background-color: #152d64;
    position: fixed;
    top: 0;
    left: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 20px;
    text-align-last: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.sidebar ul li a:hover {
    color: #fbff00;
}
.main-container{
    margin-left: 250px;
}
