{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}" />
  </head>
  <body class="body-login">
    {% block content %}
    <div class="auth-container">
      <h2>Login</h2>

      {% if form.non_field_errors %}
      <ul class="errorlist">
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          <label for="id_username">Username:</label>
          <input
            type="text"
            id="id_username"
            name="username"
            class="inputAut"
          />
          {% for error in form.username.errors %}
          <ul class="errorlist">
            <li>{{ error }}</li>
          </ul>
          {% endfor %}
        </div>
        <div class="form-group">
          <label for="id_password">Password:</label>
          <input
            type="password"
            id="id_password"
            name="password"
            class="inputAut"
          />
          {% for error in form.password.errors %}
          <ul class="errorlist">
            <li>{{ error }}</li>
          </ul>
          {% endfor %}
        </div>
        <button type="submit" class="login-btn">Login</button>
        <button type="reset" class="clear-btn">Clear</button>
      </form>
      <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    </div>
    {% endblock content %}
  </body>
</html>
