{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    {% block content %} {% include 'app/navbar.html' %}

    <div class="content">
            <h2 class="h2title">Activity Logs</h2>
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>User</th>
                    <th>Action</th>
                    <th>Description</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                {% for log in activitylog_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ log.user.username }}</td>
                    <td>{{ log.action }}</td>
                    <td>{{ log.description }}</td>
                    <td>{{ log.timestamp|date:"M d, Y - h:i A" }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No activity logs available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    {% endblock content %}
</body>
</html>