{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>
  <body>
    {% block content %} 
    
    <!-- Nav Item - Inventory -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInventory"
            aria-expanded="true" aria-controls="collapseInventory">
            <i class="fas fa-fw fa-boxes"></i>
            <span>Inventory</span>
        </a>
        <div id="collapseInventory" class="collapse" aria-labelledby="headingInventory" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Inventory Management:</h6>
                <a class="collapse-item" href="{% url 'supply_list' %}">
                    <i class="fas fa-box fa-sm fa-fw mr-2"></i>Supplies
                </a>
                <a class="collapse-item" href="{% url 'property_list' %}">
                    <i class="fas fa-chair fa-sm fa-fw mr-2"></i>Properties
                </a>
                <a class="collapse-item" href="{% url 'archived_items' %}">
                    <i class="fas fa-archive fa-sm fa-fw mr-2"></i>Archived Items
                </a>
            </div>
        </div>
    </li>
    
    {% endblock content %}
  </body>
</html>
