{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supply</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
  {% include 'app/navbar.html' %}
  {% block content %}
<h2>Supply List</h2>
  <div class="content">
    <table border="1">
      <thead>
        <tr>
          <th>Supply Name</th>
          <th>Quantity</th>
          <th>Date Received</th>
          <th>Barcode</th>
          <th>Category</th>
          <th>Status</th>
          <th>Available for Request</th>
          <th>Last Updated</th>
        </tr>
      </thead>
      <tbody>
        {% for supply in supplies %}
        <tr>
          <td>{{ supply.supply_name }}</td>
          <td>{{ supply.quantity }}</td>
          <td>{{ supply.date_received }}</td>
          <td>{{ supply.barcode }}</td>
          <td>{{ supply.category }}</td>
          <td>{{ supply.get_status_display }}</td>
          <td>{{ supply.available_for_request }}</td>
          <td>{{ supply.last_updated }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="8">No supplies available.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
</body>

</html>
