<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RESOURCE HIVE:A WEB-APP FOR SUPPLY AND PROPERTY MANAGEMENT SYSTEM WITH SMS ALERT FOR CAVITE STATE UNIVERSITY - BACOOR CITY CAMPUS
    </title>
  </head>
  <body><h1>
    Welcome to the Resource Hive Web-App for Supply and Property Management System with SMS Alert for Cavite State University - Bacoor City Campus!
    </h1>
    <p>This platform is designed to manage the resources and properties of the university's Bacoor City Campus. It provides a convenient interface for students, faculty, and administrators to access and manage their resources and property efficiently. The platform also includes SMS alerts for important events or updates related to the university's activities and resources.</p>
  </body>
</html>
